RewriteEngine On

RewriteRule ^/?$ index.php
RewriteRule ^index?$ index.php
RewriteRule ^json?$ composer.json

# Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

# Prevent directory listings
Options All -Indexes

